@icon-ai: "\e900";
@icon-audio: "\e901";
@icon-css: "\e902";
@icon-db: "\e903";
@icon-eslint: "\e904";
@icon-flow: "\e905";
@icon-git: "\e906";
@icon-html: "\e907";
@icon-image: "\e908";
@icon-js: "\e909";
@icon-json: "\e90a";
@icon-jsx: "\e90b";
@icon-markdown: "\e90c";
@icon-npm: "\e90d";
@icon-php: "\e90e";
@icon-ps: "\e90f";
@icon-sass: "\e910";
@icon-sketch: "\e911";
@icon-ts: "\e912";
@icon-type: "\e913";
@icon-vector: "\e914";
@icon-webpack: "\e915";
