@icon-css: "\e900";
@icon-git: "\e901";
@icon-html: "\e902";
@icon-js: "\e903";
@icon-json: "\e904";
@icon-jsx: "\e905";
@icon-markdown: "\e906";
@icon-npm: "\e907";
@icon-sass: "\e908";
@icon-vector: "\e909";
@icon-webpack: "\e90a";
