.icon( @icon: ''; @endsWith: ''; ) {

  .icon,
  .tab-bar .tab .title {

    &[data-name$="@{endsWith}"]:before {
      content: "@{icon-@{icon}}";
      font-family: "front-icons";
      font-size: 16px;
    }
  }
}

.icon( @icon: ''; @endsWith: ''; @startsWith: ''; ) {

  .icon,
  .tab-bar .tab .title {

    &[data-name^="@{startsWith}"][data-name$="@{endsWith}"]:before {
      content: "@{icon-@{icon}}";
      font-family: "front-icons";
      font-size: 16px;
    }
  }
}
